{% extends "base.html" %}

{% block title %}Todo Manager{% endblock %}

{% block task_content%}
<div class='d-grid d-md-flex justify-content-md-end mb-4'>
<button class="btn btn-sm btn-danger justify-content-end"><a class="nav-link active link-light" href={% url "logout" %}>Logout</a></button>
</div>
  {% if messages %}
      <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
        {% for message in messages %}
            {{message}}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
    <div class="mb-5">
        <form method="post">
            {% csrf_token %}
            <input type="text" name='task' class="form-control mb-3" placeholder="New Task">
            <input type="text" name='description' class="form-control mb-3" placeholder="Description">
            <div class="d-md-flex justify-content-center">
                <button class="btn btn-primary btn-lg">Add Task</button>
            </div>
        </form>
    </div>

    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 50%;">Task</th>
      <th scope="col" style="width: 25%;">Status</th>
      <th scope="col" style="width: 12.5%;">Edit</th>
      <th scope="col" style="width: 12.5%;">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for task in all_tasks %}
    <tr {% if task.isCompleted %}class="table-success"{% endif %}>
        <td><a href="{%url 'todo_details' task.id%}">{{task.task}}</a></td>
        <td>
          {% if task.isCompleted %}
            <a href="{% url 'mark_incomplete' task.id %}?page={{all_tasks.number}}">
              {% else %}
                <a href="{% url 'mark_complete' task.id %}?page={{all_tasks.number}}">
              {% endif %}
              <button type="button" class="btn btn-outline-secondary">
                {% if task.isCompleted %}Mark as Incomplete
                {% else %}Mark as Complete 
                {% endif %}
              </button>
            </a>
        </td>
        <td><a href={% url "edit_task" task.id %}><button type="button" class="btn btn-outline-primary">Edit</button></a></td>
        <td><a href={% url "delete_task" task.id %}?page={{all_tasks.number}}><button type="button" class="btn btn-outline-danger">Delete</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if all_tasks.has_other_pages %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item {% if not all_tasks.has_previous %}disabled{% endif %}">
      <a class="page-link" href="?page=1"><<</a>
    </li>
    {% if all_tasks.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{all_tasks.previous_page_number}}">{{all_tasks.previous_page_number}}</a></li>
    {% endif %}
    <li class="page-item active"><a class="page-link" href="?page={{all_tasks.number}}">{{all_tasks.number}}</a></li>
    {% if all_tasks.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{all_tasks.next_page_number}}">{{all_tasks.next_page_number}}</a></li>
    {% endif %}
    <li class="page-item {% if not all_tasks.has_next %}disabled{% endif %}">
      <a class="page-link" href="?page={{all_tasks.paginator.num_pages}}">>></a>
    </li>
  </ul>
</nav>
{% endif %}

{%endblock task_content%}